* {
	box-sizing: border-box;
}
ul {
	margin-left: 0;
	padding: 0;
}
body {
  background-image: url('../../image/grunge_wall.png') !important;
  background-repeat: repeat;
}
a, .btn {
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.container {
  max-width: 960px;
}
header {
	margin-bottom: 0;
}
.sideNav ul {
	border: 1px solid #003366;
	padding: 10px;
	margin-top: 0;
	background: rgba(255,255,255,.5);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.sideNav h6 {
	background-color: #003366;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.sideNav ul li a {
	color: #000;
}
#home-banner {
	background-image: url(../assets/banner_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}
#navigation {
  background-color: #003366;
  margin: 0;
  border-bottom: solid 6px #fff;
}

#navigation .navbar {
  margin: 0;
}

#navigation a {
  background-color: #003366;
  color: #fff;
}

#navigation a:hover,
#navigation .active {
  background-color: #97824A;
}
#result {
  position: absolute;
  padding: 5px;
  top: 44px;
  left: 0;
  width: 100%;
  background-color: #97824A;
  color: #fff;
  border-bottom: 3px solid #fff;
  text-align: center;
}

#result ul {
  list-style: none;
  text-align: center;
  border: none;
  margin-bottom: 0;
}
.clickableCell {
	cursor: pointer;
}
.btn {
  background-color: #003366;
  color: #fff;
}

.btn:hover {
  background-color: #7AAED5;
}

fieldset {
  border-color: #003366;
}

footer a { color: #003366; }
footer a:focus,
footer a:hover {
  text-decoration: underline !important;
  color: #003366;
}
.drop-shadow {
    -webkit-box-shadow: 0 5px 10px -5px #3e3e3e;
    -moz-box-shadow:    0 5px 10px -5px #3e3e3e;
    box-shadow:		    0 5px 10px -5px #3e3e3e;
}

.inset-shadow {
    -webkit-box-shadow: 0 5px 8px -5px #3e3e3e;
    -moz-box-shadow:    0 5px 8px -5px #3e3e3e;
    box-shadow:   inset 0 -5px 8px -5px #3e3e3e;
}

/* Pills */
.navbar-pills a, .navbar-pills span {
	padding:.825em 1.65em;
	background: #fff;
}
.navbar-pills a:hover{
	color:#0f0f0f;
	background:#eee
}
.navbar-pills li.active a,.navbar-pills span{
	text-decoration:none;
	cursor:text;
	color:rgba(0,0,0,0.4);
	background:#eee
}
.navbar-pills li{
	margin-right:1px
}
.navbar-pills.navbar-right li{
	margin-left:1px
}
