body {
  background-image: url('//gisconference.local/models/site-templates/assets/grunge_wall.png') !important;
  background-repeat: repeat;
}
a, .btn {
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.container {
  max-width: 960px;
}
#navigation {
  background-color: #003366;
  margin: 0;
  border-bottom: solid 6px #fff;
}

#navigation .navbar {
  margin: 0;
}

#navigation a {
  background-color: #003366;
  color: #fff;
}

#navigation a:hover,
#navigation .active {
  background-color: #97824A;
}

#result {
  position: absolute;
  padding: 5px;
  top: 44px;
  left: 0;
  width: 100%;
  background-color: #97824A;
  color: #fff;
  border-bottom: 3px solid #fff;
  text-align: center;
}

#result ul {
  list-style: none;
  text-align: center;
  border: none;
  margin-bottom: 0;
}

.btn {
  background-color: #003366;
  color: #fff;
}

.btn:hover {
  background-color: #7AAED5;
}

fieldset {
  border-color: #003366;
}

footer a { color: #003366; }
footer a:focus,
footer a:hover {
  text-decoration: underline !important;
  color: #003366;
}